@import './../../styles/base'

.UserList
  @include transition
  cursor: pointer

  &:hover
    background-color: darken(#fff, 3%)
  .UserListItem
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

    .UserListItem-dates
      display: flex
      flex-direction: row
      justify-content: space-between
    .UserListItem-base
      display: flex
      flex-direction: row
