@import './../styles/base'

.Toolbar-wrapper
  display: flex
  justify-content: space-between
  min-width: 1000px
  .Toolbar
    display: flex
    justify-content: space-between
    .Toolbar-new-list-input
      .MuiOutlinedInput-input
        padding: 0 $unit
