@import './../styles/base'

.Toolbar-wrapper
  display: flex
  justify-content: space-between
  .Toolbar
    display: flex
    @media (min-width: #{$xs}) and (max-width: #{$lg - 1px})
      flex-direction: column
      align-items: stretch
      gap: calc($unit / 2)
      margin-top: $unit
    @media (min-width: #{$lg})
      gap: $unit
      justify-content: space-between
    .Toolbar-new-list-input
      .MuiOutlinedInput-input
        padding: 0 $unit

