import * as React from 'react'

import {
  AppBar,
  Box,
  Toolbar,
  Typography,
  Container,
  Button
} from '@mui/material'

import AccountMenuButton from './navbar/AccountMenuButton'
import WorkspacesMenuButton from './navbar/WorkspacesMenuButton'
import RecentMenuButton from './navbar/RecentMenuButton'

import './Navbar.sass'
import { useNavigate } from 'react-router-dom'


const Navbar = () => {
  const navigate = useNavigate()

  return (
    <AppBar className='Navbar' sx={{ zIndex: (theme) => theme.zIndex.drawer + 1 }}>
      <Container maxWidth='false'>
        <Toolbar disableGutters>
          <Button onClick={() => navigate('/welcomeView')}>
            <img
              className='logo'
              src="<%= asset_path('lambdee-logo.svg') %>"
            />
            <Typography
              className='Typography-logo-title'
              sx={{ textTransform: 'none ' }}
              color='white'
              variant='h6'
            >
            Lambdee
            </Typography>
          </Button>
          <Box className='Box-dropdown-button-group'>
            <WorkspacesMenuButton />
            <RecentMenuButton />
            <Button
              className='Button'
              id='dropdown-button'
              onClick={() => navigate('/tasks')}
            >
              <Typography variant='button' color='common.white' sx={{ textTransform: 'capitalize', mr: '32px' }}>
                Tasks
              </Typography>
            </Button>
            <Button
              className='Button'
              id='dropdown-button'
              onClick={() => navigate('/console')}
            >
              <Typography variant='button' color='common.white' sx={{ textTransform: 'capitalize' }}>
                Console
              </Typography>
            </Button>

          </Box>
          <AccountMenuButton />
        </Toolbar>
      </Container>
    </AppBar>
  )
}

export default Navbar
