import * as React from 'react'

import {
  AppBar,
  Box,
  Toolbar,
  Typography,
  Container,
  MenuItem,
  Divider,
  Button
} from '@mui/material'
import DropdownButton from './DropdownButton'

import AccountMenuButton from './navbar/AccountMenuButton'
import WorkspacesMenuButton from './navbar/WorkspacesMenuButton'
import RecentMenuButton from './navbar/RecentMenuButton'

import './Navbar.sass'
import { useNavigate } from 'react-router-dom'


const Navbar = () => {
  const actions = ['Delete old task', 'Delete blocked user']
  const navigate = useNavigate()

  return (
    <AppBar className='Navbar' sx={{ zIndex: (theme) => theme.zIndex.drawer + 1 }}>
      <Container maxWidth='false'>
        <Toolbar disableGutters>
          <img
            className='logo'
            src="<%= asset_path('lambdee-logo.svg') %>"
          />
          <Typography
            className='Typography-logo-title'
            variant='h6'
          >
            Lambdee
          </Typography>
          <Box className='Box-dropdown-button-group'>
            <WorkspacesMenuButton />
            <RecentMenuButton />
            <Button
              className='Button'
              id='dropdown-button'
              onClick={() => navigate('/console')}
            >
              <Typography variant='button' color='common.white' sx={{ textTransform: 'capitalize' }}>
                Console
              </Typography>
            </Button>
          </Box>
          <AccountMenuButton />
        </Toolbar>
      </Container>
    </AppBar>
  )
}

export default Navbar
