@import './../styles/base'

.New-board-wrapper
  .New-board-button
    text-transform: none
    justify-content: flex-start
    width: 100%
    padding: 2 * $unit
.New-board
  padding-left: 1.4 * $unit
  padding-top: 1.5 * $unit
  padding-right: 1 * $unit
  display: flex
  .New-board-input
    margin-right: auto
  .New-board-cancel
    margin: auto
    // padding: 1 * $unit
    color: 	#DCDCDC
    .New-board-cancel-icon
      height: 2 * $unit
      width: 2 * $unit