@import './../styles/base'

.RecentBoardIcon
  display: flex
  justify-content: space-evenly
  .RecentBoardIcon-workspace
    width: 100%
  .RecentBoardIcon-recent
    height: 50%
    margin-left: -30%
    margin-top: 40%
    .RecentBoardIcon-recent-icon
      filter: drop-shadow(2px 4px 2px white)