@import './../styles/base'

.Sidebar-wrapper
  .Sidebar
    width: 30 * $unit,
    flexShrink: 0,

    .List-wrapper
      overflow: auto

      .List
        padding-bottom: 0
        margin-bottom: 0
        #active
          background-color: #d6d6d6
        .ListItem-workspace
          .MuiListItemText-primary
            font-size: 3 * $unit

      .List-skeleton
        .ListItem-workspace
          display: flex
          padding: 2 * $unit

          .spanSidebar-new-board-wrapper
            margin-right: 4 * $unit
    
    .Sidebar-new-board-wrapper
      .Sidebar-new-board-button
        text-transform: none
        justify-content: flex-start
        width: 100%
        padding: 2 * $unit
    .Sidebar-new-board
      padding-left: 2 * $unit
      padding-top: 1.5 * $unit
      padding-right: 1 * $unit
      display: flex
      .Sidebar-new-board-input
        margin-right: auto
      .Sidebar-new-board-cancel
        margin: auto
        // padding: 1 * $unit
        color: 	#DCDCDC
        .Sidebar-new-board-cancel-icon
          height: 2 * $unit
          width: 2 * $unit

  .toggle-button
    position: fixed,
    min-width: 0,
    padding: $unit,
    border-radius: 0 $unit $unit 0

    .opened-icon
      transform: none
      transition: transform 150ms ease

    .closed-icon
      transform: rotate(180deg)
      transition: transform 150ms ease