@import './../styles/base'

.TaskCardModal-wrapper
  overflow-y: scroll
  -ms-overflow-style: none // for Internet Explorer, Edge
  scrollbar-width: none // for Firefox

  &::-webkit-scrollbar
    display: none // for Chrome, Safari, and Opera
  max-height: calc(100vh)

  .TaskCardModal-paper
    margin-top: 3 * $unit
    margin-bottom: 3 * $unit
    width: calc(100vw - 5 * $unit)
    max-width: 1100px
    display: flex
    flex-direction: row
    align-content: flex-start
    justify-content: space-between
    background: linear-gradient(222.65deg, #EFF7FA -19.21%, #EDF1F9 119.83%)

    .TaskCardModal-avatar
      width: 4 * $unit
      height: 4 * $unit
      flex-direction: row
      align-self: center
      margin-right: 1 * $unit
    .TaskCardModal-main
      width: 100%
      margin: 4 * $unit

      .TaskCardModal-main-label
        margin-bottom: 4 * $unit
      .TaskCardModal-main-icon
        margin-left: 1 * $unit
        margin-bottom: 1 * $unit
        width: 2 * $unit
        height: 2 * $unit
      .TaskCardModal-main-description-markdown-text
        margin-top: 1 * $unit
        padding-top: $unit
        padding-right: 2 * $unit
        padding-left: 2 * $unit
        min-height: 20 * $unit
        margin-bottom: 5 * $unit
      .TaskCardModal-main-newComment
        padding: 1 * $unit
        margin-top: 1 * $unit
        display: flex
        flex-direction: row
        margin-bottom: 2 * $unit

        .TaskCardModal-main-newComment-cancel
          margin: auto

          .TaskCardModal-main-newComment-cancel-icon
            height: 2 * $unit
            width: 2 * $unit
            color: #DCDCDC

    .TaskCardModal-sidebar
      width: 45 * $unit
      padding: 4 * $unit

      .TaskCardModal-sidebar-card
        padding: 2 * $unit

        .TaskCardModal-assign-user-btn
          color: #7d7b7b
          cursor: pointer
          @include transition

          &:hover
            opacity: .8



        .TaskCardModal-sidebar-card-box
          display: flex
          align-items: center
          .TaskCardModal-sidebar-user-unassinged
            margin-left: auto
            .TaskCardModal-sidebar-user-unassigned-icon
              width: 2 * $unit
              height: 2 * $unit
              color: #FF0000
          .TaskCardModal-sidebar-card-box-taskPriority
            align-items: flex-start
            width: 6 * $unit
            height: 6 * $unit

