@import './../styles/base'
.TaskCard
    width: 30 * $unit
    .MuiCard-root
        padding: 1 * $unit
        margin: 1 * $unit
        .Box-categories
            margin-top: 0.2 * $unit
        .Box
            display: flex
            flex-direction: row
            margin-top: 0.4 * $unit
            .Box-priority
                display: flex
                flex-direction: row
                margin-right: auto
                .Box-priority-avatar
                    margin-top: 0.3 * $unit
            .MuiAvatar-root
                width: 3.2 * $unit
                height: 3.2 * $unit
                font-size: 2 * $unit

