<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<pre style="font-family: sans">
<%= @content %>
</pre>
    <hr>
    <p>This email was sent from a Lambdee script</p>
  </body>
</html>
