<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user_email %></p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p>
      <a href="<%= @reset_password_url %>">
        Change my password
      </a>
    </p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </body>
</html>
