@import './../../styles/base'


.tasksView-wrapper
  background: linear-gradient(222.65deg, #EFF7FA -19.21%, #EDF1F9 119.83%)
  width: calc(100% - (2 * $unit))
  min-height: calc(100vh - (10 * $unit))
  margin: $unit
  border-radius: $unit
  display: inline-flex
  flex-direction: column
  .tasksView-workspaces
    display: flex
    overflow-x: auto
    flex-direction: row
    align-items: center
    padding-top: $unit
    min-height: 40 * $unit
    .tasksView-workspaces-card
      display: flex
      flex-direction: column
      width: 38 * $unit
      height: 34 * $unit
      margin: 2 * $unit
      .tasksView-workspaces-card-title
        display: flex
        flex-direction: row
        width: 100%
        height: 30%
        align-items: center
        justify-content: center
      .tasksView-workspaces-card-board
        display: flex
        flex-direction: column
        align-items: center
  .tasksView-userTasks
    overflow-x: auto
    display: flex
    flex-direction: row
    padding-top: $unit
