@import './../../styles/base'

.WorkspaceMembers-wrapper
  padding-top: $unit
  padding-left: 2.4 * $unit
  padding-right: 1.6 * $unit
  padding-bottom: $unit
  .WorkspaceMembers
    background: linear-gradient(222.65deg, #EFF7FA -19.21%, #EDF1F9 119.83%)
    display: inline-flex
    flex-flow: column
    border-radius: $unit
    width: calc(100%)
    min-height: calc(100vh - (10 * $unit))
    .button-row
      display: flex
      justify-content: flex-end
      .WorkspaceMembers-button
        padding: 2 * $unit
    .List
      height: 50 * $unit
      padding-bottom: 0
      margin-bottom: 0
      .ListItem-workspace
        padding: 3 * $unit
  .Pagination-bar
    padding-top: 2 * $unit
    display: flex
    justify-content: center
