@import './../../styles/base'

.WorkspaceMembers-wrapper
  padding-top: $unit
  padding-left: 2.4 * $unit
  padding-right: 1.6 * $unit
  padding-bottom: $unit
  .WorkspaceMembers
    display: inline-flex
    flex-flow: column
    border-radius: $unit
    width: calc(100%)
    min-height: calc(100vh - (10 * $unit))
    .filter-wrapper
      max-width: 45 * $unit
      margin-left: $unit
      .add-user-button
        margin-top: 2 * $unit
        width: 100%
    .content-row
      display: flex
      flex-flow: row
      .list-wrapper
        width: 100%
        .List
          width: 100%
          padding-bottom: 0
          margin-bottom: 0
          .ListItem-workspace
            padding: 3 * $unit
      .Pagination-bar
        padding-top: 2 * $unit
        display: flex
        justify-content: center
