@import './../../styles/base'

.WorkspaceScripts-wrapper
  width: 100%
  height: calc(100vh - 16 * $unit)
  .WorkspaceScripts
    background: linear-gradient(222.65deg, #EFF7FA -19.21%, #EDF1F9 119.83%)
    flex-flow: column
    border-radius: $unit
    margin: 2 * $unit
    height: calc(84vh)
  .WorkspaceScripts-toolbar
    display: flex
    justify-content: space-between