default: &default
  default_url_options:
    host: 'localhost:3000'
    protocol: 'http'
  gravatar_host: www.gravatar.com
  script_service_secret: sikritToken123

development:
  <<: *default

test:
  <<: *default

production:
  default_url_options:
    host: '<%= ENV['LAMBDEE_HOST'] %>'
    protocol: '<%= ENV['LAMBDEE_PROTOCOL'] || 'https' %>'
  gravatar_host: 'www.gravatar.com'
  script_service_secret: '<%= ENV['SCRIPT_SERVICE_SECRET'] || 'sikritToken123' %>'
