development: &default
  protocol: 'http'
  host: 'localhost:3001'
  username: user
  password: password

test:
  <<: *default
  host: 'example.com'

production:
  protocol: <%= ENV['SCRIPT_SERVICE_INTERNAL_PROTOCOL'] || 'http' %>
  host: <%= ENV['SCRIPT_SERVICE_INTERNAL_HOST'] || 'localhost:3001' %>
  username: <%= ENV['SCRIPT_SERVICE_API_USER'] || 'lambdee' %>
  password: <%= ENV['SCRIPT_SERVICE_API_PASSWORD'] || 'sikritToken123' %>
