@import './../../../styles/base'


.dialog-output
  overflow-y: scroll
  overflow-x: scroll
  font-family: "Fira code", "Fira Mono", monospace
  background-color: #032b3a
  color: #fff
  border-radius: $unit
  width: calc( 100% - 3 * $unit )
  padding: $unit
  height: 350px
  margin: $unit 0
  pre
    margin: 0