@import './../../styles/base'

.UserListItem
  display: flex
  flex-direction: row
  width: 100%
  .UserListItem-avatar
    margin-right: $unit
.DeleteUser-icon
  width: 18px
  height: 18px
  color: #FF0000