@import './../../styles/base'

.UserListItem
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  .UserListItem-dates
    display: flex
    flex-direction: row
  .UserListItem-base
    display: flex
    flex-direction: row
    .UserListItem-avatar
      margin-right: $unit
.DeleteUser-icon
  width: 18px
  height: 18px
  color: #FF0000