import './App.css';
import lambdeeTheme from './lambdeeTheme';

import { ThemeProvider, Button } from "@mui/material"
import Sidebar from './components/Sidebar';

function App() {
  return (
    <ThemeProvider theme={lambdeeTheme}>
      <div className="App">
        
        <Sidebar/>
      </div>
    </ThemeProvider>
  );
}

export default App;
