import './App.css'
import Navbar from './components/Navbar'
import lambdeeTheme from './lambdeeTheme'

import { ThemeProvider, Button } from '@mui/material'

function App() {
  return (
    <ThemeProvider theme={lambdeeTheme}>
      <div className='App'>
        <Navbar />
      </div>
    </ThemeProvider>
  )
}

export default App
