@import './../../../styles/base'

.BoardPlanningView
  margin-bottom: 2 * $unit
  .TaskLists-scrollable

    .TaskLists-wrapper
      width: 98%
      display: flex
      flex-direction: column
      margin-left: 2.5 * $unit

