@import '../../styles/base'

.ModalComment
  min-height: 10 * $unit
  .ModalComment-info
    display: flex
    flex-direction: row
    .ModalComment-info-user
      display: flex
      flex-direction: columns